*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container h1{
    font-family: "Merienda", cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #111827;
}
.banner-fluid{
    width: 100%;
    height: 90px;
    display: block;
    align-items: center;
}
.container{
    position: relative;
    padding: 20px;
    margin: 2px solid black;
}
.nav-pills{
    color: black;
}